body {

  background-color: beige;
}

.navbar {

  background-color: #337ab7;
  border-radius: 0px;
}

.navbar-brand {

  border-right: solid black 2px;
  color: black;
}

table {
  border: solid #337ab7; 2px;
}
